discord.py==2.1.0
PyNaCl
youtube_dl
requests
mutagen
pydub
environ
tabulate
ffmpeg

#django
django
django-extensions
django-environ
psycopg2
djangorestframework
djangorestframework-api-key

#debbuging/testing
pytest
ipdb